*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  min-width: 1140px;
}

.result {

}

.result__video-container {
  width: 711px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;

}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.search-form__label {
  line-height: 100%;
  display: flex;
  width: fit-content;
  position: relative;
  padding: 1px;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed';
  min-width: 224px;
  font-size: 18px;
  opacity: 0.7;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:active {
  padding-left: 1px;
  padding-right: 1px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after{
  content: '';
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox):hover{
  text-decoration: underline;
}

.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: center;
}

.content__details {
  max-width: 399px;

}

.title {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 26px;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  width: 394px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}


.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
}

.more-button {
  padding: 6px 140px;
  margin-top: 30px;
}
